/* Advantages */
.advantages {
  margin-bottom: 80px;
  padding: 24px;

  background-image: url("../images/background/pattern-waffle.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

/* Advantages Inner */
.advantages-inner {
  padding: 56px 40px;

  background-color: var(--main);
  border-radius: 16px;
}

/* Advantages Title */
.advantages-title {
  margin: 0;
  margin-bottom: 55px;

  text-align: center;
  color: var(--main-extra-dark);
}

/* Advantages List */
.advantages-list {
  gap: 40px 30px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages-item {
  position: relative;
  padding-left: 64px;
}

.advantages-item::before {
  content: "";
  position: absolute;
  left: 0;
  padding: 8px;
  width: 48px;
  height: 48px;

  border: 2px solid var(--main-extra-dark);
  border-radius: 50%;

  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-item-production::before {
  background-image: url("../images/icon/icecream_fill.svg");
}

.advantages-item-purchase::before {
  background-image: url("../images/icon/cow.svg");
}

.advantages-item-natural::before {
  background-image: url("../images/icon/leaf.svg");
}

.advantages-item-delivery::before {
  background-image: url("../images/icon/thermometer.svg");
}
