/* Contacts */
.contacts {
  display: flex;

  padding: 64px;

  background-color: var(--main);
  background-image: url("../images/background/contacts-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.contacts-inner {
  display: flex;
  flex-direction: column;

  padding: 40px;
  max-width: 350px;

  background-color: var(--main);
  border-radius: 8px;
  box-shadow: 0 15px 40px var(--main-extra-dark-01);
}

.contacts-title:not(:last-child) {
  margin-bottom: 12px;
}

.contacts-address {
  font-style: normal;
}

.contacts-text {
  margin: 0;

  color: var(--main-extra-dark);
}

.contacts-text:not(:last-child) {
  margin-bottom: 24px;
}

.contacts-phone {
  color: var(--main-extra-dark);
  text-decoration: none;

  outline: none;
  border: none;

  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.contacts-phone:hover {
  color: var(--secondary-extra-bright);
}

.contacts-phone:focus {
  color: var(--secondary-extra-bright);
}

.contacts-phone:active {
  color: var(--main-extra-dark);
}

.contacts-time {
  display: block;
}

.contacts-button {
  align-self: flex-start;
  margin-top: auto;
}
