/* Main Footer */
.main-footer {
  padding: 20px 0 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

/* Footer Social */
.footer-social {
  width: 200px;
  margin-right: 20px;
}

/* Footer Info */
.footer-info {
  min-width: 350px;
  margin-right: 20px;

  color: var(--main-extra-dark);
}

.footer-info-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-info-link {
  text-decoration: none;
  color: var(--main-extra-dark);
}

/* Footer Copyright */
.footer-copyright {
  color: var(--main-extra-dark);
}

.footer-copyright-link {
  margin-bottom: 14px;
  display: inline-block;

  color: var(--main-extra-dark);
}

.footer-copyright-text {
  margin: 0;
}
