/* Main Footer */
.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  padding: 48px 0 50px;
}

/* Footer Social */
.footer-social {
  width: 200px;
  margin-right: 20px;
}

/* Footer Info */
.footer-info {
  max-width: 500px;
  margin-right: 20px;
  padding-left: 24px;

  color: var(--main-extra-dark);
}

.footer-info-list {
  display: grid;
  grid-template-columns: auto auto;
  align-items: baseline;
  gap: 8px 24px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-info-link {
  text-decoration: none;
  color: var(--main-extra-dark);

  outline: none;
  border: none;

  transition-property: color, outline, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.footer-info-link:hover {
  color: var(--main-extra-light);
}

.footer-info-link:focus {
  color: var(--main-extra-light);
}

.footer-info-link:active {
  color: var(--main-extra-dark);
}

.footer-info-link-acent {
  position: relative;
}

.footer-info-link-acent::before {
  content: '';
  position: absolute;
  top: 1px;
  left: -24px;
  width: 16px;
  height: 16px;

  background-image: url('../images/icon/heart.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.footer-info-link-acent:hover::before,
.footer-info-link-acent:focus::before,
.footer-info-link-acent:active::before {
  transform: scale(0);
}

/* Footer Copyright */
.footer-copyright {
  color: var(--main-extra-dark);
}

.footer-copyright-link {
  margin-bottom: 14px;
  display: inline-block;

  color: var(--main-extra-dark);

  outline: none;
  border: none;

  transition-property: color, outline;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.footer-copyright-link:hover {
  color: var(--main-extra-light);
}

.footer-copyright-link:focus {
  color: var(--main-extra-light);
}

.footer-copyright-link:active {
  color: var(--main-extra-dark);

  outline: none;
}

.footer-copyright-text {
  margin: 0;
}

.footer-copyright-link-text {
  text-decoration: none;
  color: var(--main-extra-dark);

  outline: none;
  border: none;
  border-bottom: 1px solid var(--main-extra-dark);

  transition-property: color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.footer-copyright-link-text:hover {
  color: var(--main-extra-light);

  border-color: transparent;
}

.footer-copyright-link-text:focus {
  color: var(--main-extra-light);

  border-color: var(--main-extra-light);
}

.footer-copyright-link-text:active {
  color: var(--main-extra-dark);

  border-color: var(--main-extra-dark);
}
