/* Header */
.navigation {
  padding: 24px 0;

  display: flex;
}

.navigation-logo-link {
  width: 137px;
  margin-right: 16px;
  align-self: start;

  color: var(--main-extra-dark);

  outline: none;
  border: none;

  transition-property: color, outline;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.navigation-logo-link:hover {
  color: var(--main-extra-light);
}

.navigation-logo-link:focus {
  /* outline: 2px solid var(--main-extra-dark);
  outline-offset: 10px;
  border-radius: 26px; */

  color: var(--main-extra-light);
}

.navigation-logo-link:active {
  color: var(--main-extra-dark);

  outline: none;
}

.navigation-logo-image {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-content: start;

  width: 500px;
  margin: 0;
  margin-right: 16px;
  padding: 0;
  padding-top: 10px;

  list-style: none;
}

.navigation-item {
  margin-bottom: 8px;
}

.navigation-item:not(:last-child) {
  margin-right: 8px;
}

/* .navigation-link {
  display: block;
  height: 100%;
} */

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: start;

  width: 480px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-top: 12px;

  list-style: none;
}

.navigation-user-item {
  display: flex;
  align-items: center;

  margin-bottom: 16px;
}

.navigation-user-item:not(:last-child) {
  margin-right: 16px;
}

.button-user-search {
  padding: 8px;
}

.button-user-search svg {
  margin-right: 0;
}

.navigation-user-number {
  font-weight: 400;
}
