/* News */
.news {
  position: relative;
  min-height: 224px;
  padding: 32px;
  padding-right: 235px;

  background-color: var(--main);
  background-image: url("../images/background/news-01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right -50px center;
  border-radius: 16px;
}

.news-link {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  text-decoration: none;
  color: var(--main-extra-dark);

  outline: none;
  border: none;
  border-radius: 16px;

  transition-property: outline;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.news-link::after {
  content: "";

  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.news-title {
  margin: 0;

  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.news-link:hover .news-title {
  color: var(--secondary-extra-bright);
}

.news-link:focus .news-title {
  color: var(--secondary-extra-bright);
}

.news-link:active .news-title {
  color: var(--main-extra-dark);
}

.news-subtitle {
  order: -1;
  margin-bottom: 12px;
}
