/* Social */
.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.social-item {
  margin-bottom: 16px;
}

.social-item:not(:last-child) {
  margin-right: 16px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;

  background-color: var(--secondary-light-01);
  outline: none;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.social-link path {
  fill: var(--main-extra-light);
}
